<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- TODO ? using routerLinkActiveOptions specifies that the current route needs to be exactly equal -->
        <!-- ? to be considered active, so relative children routes will not count as active for this directive. -->
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- TODO * router-outlet specifies where will a router component render in this page -->
      <!-- * so for the home page, this will be app-home, for users, app-users, and servers, app-servers -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
