<div class="grid grid-cols-12">
  <div
    class="
      col-span-4 col-start-5
      bg-gradient-to-b
      from-pink-50
      to-pink-50
      pl-2
      pr-6
      py-6
      rounded-lg
    "
  >
    <div
      *ngIf="error"
      class="bg-red-200 rounded-lg p-4 text-red-800 text-center text-lg ml-4"
    >
      {{ error }}
    </div>
    <form #formRef="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-input">
        <label for="email">Email</label>
        <input id="email" name="email" ngModel required email />
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div class="ml-4 mt-4 flex space-x-4">
        <button type="submit" [disabled]="!formRef.valid" class="btn">
          {{ getModeText(isLoginMode) }}
        </button>
        <button type="button" class="btn-green" (click)="onSwitchMode()">
          Switch to {{ getModeText(!isLoginMode) }}
        </button>
      </div>
    </form>
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
