<div class="grid grid-cols-12">
  <!-- <div class="col-span-full"> -->
  <div
    class="
      col-span-4 col-start-5
      bg-gradient-to-b
      from-pink-50
      to-pink-50
      pl-2
      pr-6
      py-6
      rounded-lg
    "
  >
    <form>
      <div class="form-input">
        <label for="email">Email</label>
        <input id="email" />
      </div>
      <div class="form-input">
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <div class="ml-4 mt-4 flex space-x-4">
        <button class="btn">Sign Up</button>
        <button class="btn">Switch to Login</button>
      </div>
    </form>
  </div>
</div>
