<!-- mb-6 -->
<nav
  class="
    grid grid-cols-12
    p-4
    grid-flow-row
    bg-pink-200
    gap-6
    text-pink-900
    border-b border-pink-500
    content-center
    w-full
    top-0
    fixed
    z-50
  "
>
  <h1
    class="
      col-span-4
      lg:col-span-2
      xl:col-span-1
      md:col-span-3
      text-2xl
      font-bold
      whitespace-nowrap
    "
  >
    Recipe Book
  </h1>
  <ul
    class="
      col-start-5
      lg:col-start-3
      md:col-start-4
      xl:col-start-2
      col-end-13
      flex
      justify-start
      items-center
      space-x-6
      w-full
    "
  >
    <li class="navbar-item">
      <a [routerLink]="['/recipes']" routerLinkActive="actv-rt">Recipes</a>
    </li>
    <li class="navbar-item">
      <a [routerLink]="['/auth']" routerLinkActive="actv-rt">Authenticate</a>
    </li>
    <li class="navbar-item">
      <a [routerLink]="['/shopping-list']" routerLinkActive="actv-rt"
        >Shopping List</a
      >
    </li>
    <li class="flex-grow"></li>
    <li class="navbar-item relative right-8 dropdown">
      <!-- TODO ? applying dropdown directive -->
      <div class="cursor-pointer" appDropdown [dropdownMenu]="dropdownLinks">
        Manage
        <app-chevron-icon styleClass="-ml-1"></app-chevron-icon>
      </div>
      <ul class="dropdown-menu" #dropdownLinks>
        <li class="custom-dropdown-item cursor-pointer" (click)="onSaveData()">
          <a>Save Data</a>
        </li>
        <li class="custom-dropdown-item cursor-pointer" (click)="onFetchData()">
          <a>Fetch Data</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
