@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-pink-100 box-border;
}

h1 {
  @apply text-3xl font-bold;
}

a {
  @apply cursor-pointer;
}

.btn {
  @apply bg-blue-500
  text-white
  px-2
  py-1
  rounded-md
  hover:bg-blue-400
  border
  focus:border-black
  transition-all
  relative
  whitespace-nowrap
  text-center;
}

.btn-pink {
  @extend .btn;
  @apply bg-pink-500 hover:bg-pink-400;
}

.btn-red {
  @extend .btn;
  @apply bg-red-600 hover:bg-red-400;
}

.btn-orange {
  @extend .btn;
  @apply bg-yellow-600 hover:bg-yellow-500;
}

.actv-rt {
  @apply p-4 rounded bg-pink-300;
}

.list-item {
  @apply py-2 px-3 border border-pink-700 border-opacity-30 text-left;
}

.form-input {
  @apply flex flex-col space-y-1 ml-4 mt-4;

  label {
    @apply font-bold;
  }

  input {
    @apply border-2 border-pink-500 px-2 py-1 outline-none;
  }
}

.form-buttons {
  @apply grid grid-cols-8 space-x-4 mt-4 ml-4;
}

.custom-dropdown-item {
  @apply text-gray-700
  block
  px-4
  py-2
  text-sm
  hover:bg-gray-100 hover:text-gray-900;
}

.dropdown-menu {
  @apply origin-top-right
  absolute
  right-0
  mt-1
  w-56
  rounded-md
  shadow-lg
  bg-white
  ring-1 ring-black ring-opacity-5
  focus:outline-none
  transition
  ease-out
  duration-100;
}

.dropdown {
  @apply relative inline-block text-left;
}

// .dropdown .dropdown-menu {
//   display: none;
//   opacity: 0;
//   transition: all 0.15s ease-in;
// }

// .dropdown:focus-within .dropdown-menu {
//   display: block;
//   opacity: 1;
// }
