<div class="grid grid-cols-12">
  <div class="col-span-full">
    <img
      [src]="recipe.imagePath"
      alt="Recipe Image"
      class="max-h-72 mx-auto my-4"
    />
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <h1>{{ recipe?.name || "Recipe Name" }}</h1>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div class="dropdown">
      <!-- TODO ? applying dropdown directive here -->
      <div appDropdown [dropdownMenu]="dropdownMenuRef">
        <button
          type="button"
          class="btn-pink inline-flex"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          Options
          <app-chevron-icon></app-chevron-icon>
        </button>
      </div>
      <div
        class="dropdown-menu"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
        #dropdownMenuRef
      >
        <ul class="py-1" role="none">
          <li>
            <a href="#" class="custom-dropdown-item">To Shopping List</a>
          </li>
          <li>
            <a href="#" class="custom-dropdown-item">Edit Recipe</a>
          </li>
          <li>
            <a href="#" class="custom-dropdown-item">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div>{{ recipe?.description || "Recipe Description" }}</div>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div>Ingredients</div>
  </div>
</div>
