<div class="grid grid-cols-12">
  <div class="col-span-full">
    <img src="" alt="" />
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <h1>Recipe Name</h1>
  </div>
</div>
<!-- TODO: dropdown component -->
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div class="dropdown">
      <div class="dropdown-toggle">
        <button
          type="button"
          class="btn-pink inline-flex"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          Options
          <svg
            class="-mr-1 ml-2 h-5 w-5 mt-0.5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
      <div
        class="dropdown-menu"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <ul class="py-1" role="none">
          <li>
            <a href="#" class="custom-dropdown-item">To Shopping List</a>
          </li>
          <li>
            <a href="#" class="custom-dropdown-item">Edit Recipe</a>
          </li>
          <li>
            <a href="#" class="custom-dropdown-item">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div>Description</div>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-full">
    <div>Ingredients</div>
  </div>
</div>

<!-- <div class="dropdown relative inline-block text-left">
  <div>
    <button
      type="button"
      class="
        inline-flex
        justify-center
        w-full
        rounded-md
        border border-gray-300
        shadow-sm
        px-4
        py-2
        bg-white
        text-sm
        font-medium
        text-gray-700
        hover:bg-gray-50
        focus:outline-none
      "
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      Options
      <svg
        class="-mr-1 ml-2 h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
  <div
    class="
      origin-top-right
      absolute
      right-0
      mt-1
      w-56
      rounded-md
      shadow-lg
      bg-white
      ring-1 ring-black ring-opacity-5
      focus:outline-none
      transition
      ease-out
      duration-100
    "
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
    id="dropdownMenu"
  >
    <ul class="py-1" role="none">
      <li>
        <a href="#" class="custom-dropdown-item">To Shopping List</a>
      </li>
      <li>
        <a href="#" class="custom-dropdown-item">Edit Recipe</a>
      </li>
      <li>
        <a href="#" class="custom-dropdown-item">Delete Recipe</a>
      </li>
    </ul>
  </div>
</div> -->
