<div class="grid grid-cols-12">
  <div class="col-span-full">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <ul class="flex flex-col p-2 -space-y-0.5">
      <a
        class="
          list-item
          cursor-pointer
          transition-all
          hover:bg-pink-200
          border-opacity-50
        "
        *ngFor="let ingredient of ingredients; let idx = index"
        (click)="onEditItem(idx)"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>
  </div>
</div>
